.banner {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
}

.banner-text {
    text-align: right;
    margin: 50px;
    margin: 0 200px;

}

.main-section {
    display: flex;
    margin: 0 200px;
    5px align-items: center;
}

.main-section-img {}

.main-section-text {}