/* banner-section */
.banner {
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.banner-text {
    text-align: right;
    margin-left: 800px;
    margin-right: 100px;
    padding-top: 100px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.btn-primari {
    color: steelblue;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 20px;
    height: 54px;
    border-radius: 5px;
    background: white;
}

/* main-section */

.main-section {
    display: flex;
    margin: 70px 200px;
    align-items: center;
}

.main-section-img {
    height: 600px;
    width: 450px;
    margin-right: 100px;

}


.font-check {
    color: rgb(59, 236, 59);
}

/* plans-secation */

.plans {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* watch-section */

.watch {
    margin: 140px;
    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    padding: 80px;
}

.title {
    display: flex;
    margin-bottom: 20px;
}

.title-text {
    margin-left: 100px;
    margin-right: 100px;
}

.title-img {
    height: 550px;
    width: 500px;
    margin-right: 100px;
}

/* footer-secation */

footer {
    background-color: black;
}

.footer-contant {
    display: flex;
    color: white;
    padding: 100px 200px 100px;
    gap: 200px;
}

.input-text {

    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.btn-sub {
    color: white;
    font-weight: 700px;
    font-size: 18px;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    background: rgb(32, 133, 216);
    margin-top: 10px;
}


.Subscribe {
    margin-right: 100px;
    padding: 20px;
}

h3 {
    font-size: 24px;
}