.banner {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.banner-text {
    text-align: right;
    margin-left: 800px;
    margin-right: 100px;
    padding-top: 100px;

}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.btn-primari {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 54px;
    border-radius: 5px;
    background: #FD6E0A;
}

.main-section {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.main-section-img {
    height: 650px;
    width: 500px;
    margin-right: 100px;
}

.main-section-text {}

.font-check {
    color: rgb(59, 236, 59);
}

.plant {
    text-align: center;
}

.skills-container {
    display: flex;
    align-content: center;
}

.skills {}

footer {
    display: flex;
    color: white;
    background-color: black;
    height: 500px;
    width: 100%;
    margin: 0;
}

.btn-sub {
    color: #FD6E0A;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 20px;
    width: 90px;
    border-radius: 5px;
    background: #FFFFFF;
}